<header class="site-header">
  <nav class="navbar">

    <div class="logo">
      <a href="/digital-entrepreneur-web/index.html">
        <img src="/digital-entrepreneur-web/assets/img/logo.png" alt="Bang Fadhil Logo">
      </a>
    </div>

    <ul class="menu">
      <li><a href="/digital-entrepreneur-web/index.html">Home</a></li>
      <li><a href="/digital-entrepreneur-web/pages/visi-misi.html">Visi & Misi</a></li>
      <li><a href="/digital-entrepreneur-web/pages/testimoni.html">Testimoni</a></li>
      <li><a href="/digital-entrepreneur-web/pages/lowongan.html">Lowongan</a></li>
      <li class="menu-cta">
        <a href="/digital-entrepreneur-web/pages/pendaftaran.html">Daftar Sekarang</a>
      </li>
    </ul>

  </nav>
</header>
