<header class="site-header">
  <nav class="navbar">

    <div class="logo">
      <a href="pages/home.html">
        <img src="assets/img/logo.png" alt="Bang Fadhil Logo">
      </a>
    </div>


    <ul class="menu">
      <li><a href="pages/home.html">Home</a></li>
      <li><a href="pages/visi-misi.html">Visi & Misi</a></li>
      <li><a href="pages/testimoni.html">Testimoni</a></li>
      <li><a href="pages/lowongan.html">Lowongan</a></li>
      <li class="menu-cta">
        <a href="pages/pendaftaran.html">Daftar Sekarang</a>
      </li>
    </ul>

  </nav>
</header>
