<header class="site-header">
  <!-- NAVBAR -->
<nav class="navbar">
<div class="logo"><a href="/index.html">Bang Fadhil</a></div>

  <ul class="menu">
    <li><a href="/pages/home.html">Home</a></li>
    <li><a href="/pages/visi-misi.html">Visi & Misi</a></li>
      <li><a href="/pages/testimoni.html">Testimoni</a></li>


    <li class="dropdown">
      <a href="#">Lowongan Pekerjaan ▾</a>
      <ul class="dropdown-menu">
        <li><a href="/pages/asisten-rumah-tangga.html">Asisten Rumah Tangga</a></li>
        <li><a href="/pages/baby-sitter.html">Baby Sitter</a></li>
        <li><a href="/pages/perawat-lansia.html">Perawat Lansia</a></li>
      </ul>
    </li>

    <li class="menu-cta">
      <a href="/pages/lowongan.html">Daftar Sekarang</a>
    </li>
  </ul>
</nav>
</header>
